language: elixir
elixir:
  - "1.7.4"
  - "1.8.1"
otp_release:
  - 20.3
sudo: false
env:
  MIX_ENV=test
before_script:
  - mix deps.get --only test
script:
  - mix test
  - mix credo
  - mix inch.report
  - mix coveralls.travis
